<!-- <app-header></app-header>
<app-calories></app-calories>
<app-timer></app-timer>
<app-workout-animation></app-workout-animation>
<app-workout-description></app-workout-description>
<app-workout-list></app-workout-list>
<button (click)="nextWorkout()">next workout</button> -->

<header class="flex justify-between text-2xl px-2">
  <div><app-user> </app-user></div>
  <div class="flex">
    <div class="ml-3"><a routerLink="home-page">Home</a></div>
    <div class="ml-3"><a routerLink="workout">Workout</a></div>
    <div class="ml-3"><a routerLink="exercise">Excercise</a></div>
    <div class="ml-3"><a routerLink="pricing">Pricing</a></div>
  </div>

  <div class="flex">
    <div class="ml-3"><a routerLink="sign-in">Log In</a></div>
    <div class="ml-3"><a routerLink="register">Register</a></div>
  </div>
</header>

<router-outlet></router-outlet>
