<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
  <a href="#">
    <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 flex-auto"
      >
        {{ workout?.name }}
      </h5>
    </a>
    <div><img src="{{ workout?.img }}" /></div>
    <p class="mb-3 font-normal text-gray-700">
      {{ workout?.description }}
    </p>
  </div>
</div>
