<!-- <div class="flex justify-between gap-4 py-8">
  <div class="mx-8 bg-gray-500 h-80 w-64 pl-5 text-gray-200">
    <div><app-workout-list></app-workout-list></div>
  </div>
  <div class="mx-8 bg-gray-500 h-96">
    <div class="h-80">
      <app-workout-animation></app-workout-animation>
    </div>
    <div class="text-center text-gray-200">
      <app-workout-description></app-workout-description>
    </div>
    <div class="text-center">
      <button
        *ngIf="!serviceStorage.isWorkoutDone()"
        (click)="nextWorkout()"
        class="rounded-full bg-slate-900 text-gray-200 p-2"
      >
        next workout
      </button>
    </div>
  </div>
  <div class="mx-8 bg-gray-500 h-80 w-64">
    <div class="h-40 p-20 bg-gray-500 text-gray-200">
      <app-timer></app-timer>
    </div>
    <div
      class="rounded-full bg-slate-900 text-gray-200 text-center p-2 mt-16 w-32 ml-16"
    >
      <app-calories></app-calories>
    </div>
  </div>
</div> -->
<div>
  <a
    *ngFor="let workout of addFavourites.favourites"
    class="m-auto block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
  >
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      {{ workout.name }}
    </h5>
    <p class="font-normal text-gray-700">
      {{ workout.description }}
    </p>
    <button
      type="button"
      class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
      (click)="delete(workout)"
    >
      Delete
    </button>
  </a>
</div>
